archive.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/jquery.datetimepicker.css" rel="stylesheet")
		
		title InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.active.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-contacts
			.page-navbar
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
				.panels-wrapper
					h1 Архив
					.panel
						
						.panel-header
							.form-group.page-archive-panel-form-keyword
								input.fg-input.icon.icon-search(type="text" placeholder="Ключевое слово")
							.form-group.page-archive-panel-form-keyword
								input.fg-input.icon.icon-search(type="text" placeholder="Номер телефона")
							.pull-right
								.form-group.fg-labeled.page-archive-panel-form-keyword
									label От
									input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите дату")
								.form-group.fg-labeled.page-archive-panel-form-keyword
									label До
									input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите дату")
								.form-group.fg-submit
									input(type="submit" value="")
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable Номер
											th.sortable Дата
											th(style="width: 50%;").sortable Сообщение
											th.sortable Оператор
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
								ul.pagination
										li.disabled: a(href="#").first &middot;&middot;&middot;
										li.disabled: a(href="#").prev «
										li.active: a(href="#") 1
										li: a(href="#") 2
										li: a(href="#").next »
										li: a(href="#").last &middot;&middot;&middot;
		
		
		.modal.white-popup.mfp-hide#modal-extra
			.modal-header
				p Дополнительные поля
			.modal-content
				.data-table
					table
						thead
							tr
								th Имя
								th Тип
								th(style="width:60%;") Значение
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
									
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
						
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
		
		
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		script(src="assets/js/main.js")
		

archive.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/jquery.datetimepicker.css" rel="stylesheet">
    <title>InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="active archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-contacts" class="page">
        <div class="page-navbar">
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="panels-wrapper">
              <h1>Архив</h1>
              <div class="panel">
                <div class="panel-header">
                  <div class="form-group page-archive-panel-form-keyword">
                    <input type="text" placeholder="Ключевое слово" class="fg-input icon icon-search">
                  </div>
                  <div class="form-group page-archive-panel-form-keyword">
                    <input type="text" placeholder="Номер телефона" class="fg-input icon icon-search">
                  </div>
                  <div class="pull-right">
                    <div class="form-group fg-labeled page-archive-panel-form-keyword">
                      <label>От</label>
                      <input data-format="d.m.Y H:i" type="text" placeholder="Выберите дату" class="fg-input fg-date datetimepicker">
                    </div>
                    <div class="form-group fg-labeled page-archive-panel-form-keyword">
                      <label>До</label>
                      <input data-format="d.m.Y H:i" type="text" placeholder="Выберите дату" class="fg-input fg-date datetimepicker">
                    </div>
                    <div class="form-group fg-submit">
                      <input type="submit" value="">
                    </div>
                  </div>
                </div>
                <div class="panel-content">
                  <div class="data-table">
                    <table>
                      <thead>
                        <tr>
                          <th class="sortable">Номер</th>
                          <th class="sortable">Дата</th>
                          <th style="width: 50%;" class="sortable">Сообщение</th>
                          <th class="sortable">Оператор</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>996775775775</td>
                        <td>29.03.2015 21:23:32</td>
                        <td>Текст...</td>
                        <td>Имя Оператора</td>
                        <td>
                          <button data-modal="#modal-extra" class="data-menu"></button>
                        </td>
                      </tr>
                    </table>
                    <ul class="pagination">
                      <li class="disabled"><a href="#" class="first">&middot;&middot;&middot;</a></li>
                      <li class="disabled"><a href="#" class="prev">«</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#" class="next">»</a></li>
                      <li><a href="#" class="last">&middot;&middot;&middot;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-extra" class="modal white-popup mfp-hide">
        <div class="modal-header">
          <p>Дополнительные поля</p>
        </div>
        <div class="modal-content">
          <div class="data-table">
            <table>
              <thead>
                <tr>
                  <th>Имя</th>
                  <th>Тип</th>
                  <th style="width:60%;">Значение</th>
                </tr>
              </thead>
              <tr>
                <td>Назменование</td>
                <td>Строка</td>
                <td>
                  <div class="form-group">
                    <input type="text" value="Значение" class="fg-input">
                  </div>
                </td>
              </tr>
              <tr>
                <td>Назменование</td>
                <td>Строка</td>
                <td>
                  <div class="form-group">
                    <input type="text" value="Значение" class="fg-input">
                  </div>
                </td>
              </tr>
              <tr>
                <td>Назменование</td>
                <td>Строка</td>
                <td>
                  <div class="form-group">
                    <input type="text" value="Значение" class="fg-input">
                  </div>
                </td>
              </tr>
              <tr>
                <td>Назменование</td>
                <td>Строка</td>
                <td>
                  <div class="form-group">
                    <input type="text" value="Значение" class="fg-input">
                  </div>
                </td>
              </tr>
              <tr>
                <td>Назменование</td>
                <td>Строка</td>
                <td>
                  <div class="form-group">
                    <input type="text" value="Значение" class="fg-input">
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Сохранить</button>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.datetimepicker.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>
