autoreply.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		link(href="assets/js/jquery.datetimepicker.css" rel="stylesheet")

		title Автоответчик — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-menu
					.menu.menu-left
						.menu-item
							button(data-modal="#modal-add-autoreply").icon.icon-plus Добавить сообщение автоответчика
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panel
						.panel-header
							p Нет операторов
							button.button-circle.button-add(data-modal="#modal-add-autoreply")
						
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable Сообщение автоответчика
									tr
										td Здравствуйте! Вас приветствует компания...
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									
					.panel
						.panel-header
							p Перерыв
							button.button-circle.button-add(data-modal="#modal-add-autoreply")
						
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable(style="width:70%;") Сообщение автоответчика
											th.sortable С
											th.sortable По
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
								
								ul.pagination
									li.disabled: a(href="#").first &middot;&middot;&middot;
									li.disabled: a(href="#").prev «
									li.active: a(href="#") 1
									li: a(href="#") 2
									li: a(href="#").next »
									li: a(href="#").last &middot;&middot;&middot;
									
									
					.panel
						.panel-header
							p Выходной
							button.button-circle.button-add(data-modal="#modal-add-autoreply")
						
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable(style="width:70%;") Сообщение автоответчика
											th.sortable День недели
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
								
								ul.pagination
									li.disabled: a(href="#").first &middot;&middot;&middot;
									li.disabled: a(href="#").prev «
									li.active: a(href="#") 1
									li: a(href="#") 2
									li: a(href="#").next »
									li: a(href="#").last &middot;&middot;&middot;
		
		
		
		.modal.modal-narrow.white-popup.mfp-hide#modal-add-autoreply
			.modal-header
				p Добавить сообщение автоответчика
				
			.modal-content
				.form-group
					label Тип автоответчика
					select#modal-add-autoreply-type.fg-input
						option(value="no-operators") Нет операторов
						option(value="lunchtime") Перерыв
						option(value="weekend") Выходной
			
				.row
					.col-xs-6
						.form-group
							label С
							input.fg-input.fg-date.timepicker(data-format="H:i" type="text" placeholder="Выберите время")
					.col-xs-6
						.form-group
							label По
							input.fg-input.fg-date.timepicker(data-format="H:i" type="text" placeholder="Выберите время")
				
				
				.form-group
					label День недели
					select.fg-input
						option Понедельник
						option Вторник
						option Среда
						option Четверг
						option Пятница
						option Суббота
						option Воскресенье
						
						
						
				.form-group.fg-last
					label Сообщение автоответчика
					textarea.fg-input(placeholder="Введение сообщение автоответчика")
					
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Добавить
				
		.modal.modal-narrow.white-popup.mfp-hide#modal-edit-autoreply
			.modal-header
				p Добавить сообщение автоответчика
				
			.modal-content
				.form-group
					label Тип автоответчика
					select#modal-add-autoreply-type.fg-input
						option(value="no-operators") Нет операторов
						option(value="lunchtime") Перерыв
						option(value="weekend" selected) Выходной	
				
				.form-group
					label День недели
					select.fg-input
						option Понедельник
						option Вторник
						option(selected) Среда
						option Четверг
						option Пятница
						option Суббота
						option Воскресенье
						
						
						
				.form-group.fg-last
					label Сообщение автоответчика
					textarea.fg-input(placeholder="Введение сообщение автоответчика") Здравствуйте! Вас приветствует компания...
					
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.multiple.select.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		
		script(src="assets/js/main.js")
		

autoreply.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/multiple-select.css" rel="stylesheet">
    <link href="assets/js/jquery.datetimepicker.css" rel="stylesheet">
    <title>Автоответчик — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings active">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-quickresponses" class="page">
        <div class="page-navbar">
          <div class="page-navbar-menu">
            <div class="menu menu-left">
              <div class="menu-item">
                <button data-modal="#modal-add-autoreply" class="icon icon-plus">Добавить сообщение автоответчика</button>
              </div>
            </div>
          </div>
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="panels-wrapper">
              <div class="panel">
                <div class="panel-header">
                  <p>Нет операторов</p>
                  <button data-modal="#modal-add-autoreply" class="button-circle button-add"></button>
                </div>
                <div class="panel-content">
                  <div class="data-table">
                    <table>
                      <thead>
                        <tr>
                          <th class="sortable">Сообщение автоответчика</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-header">
                  <p>Перерыв</p>
                  <button data-modal="#modal-add-autoreply" class="button-circle button-add"></button>
                </div>
                <div class="panel-content">
                  <div class="data-table">
                    <table>
                      <thead>
                        <tr>
                          <th style="width:70%;" class="sortable">Сообщение автоответчика</th>
                          <th class="sortable">С</th>
                          <th class="sortable">По</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>00:00</td>
                        <td>00:40</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>00:00</td>
                        <td>00:40</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>00:00</td>
                        <td>00:40</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>00:00</td>
                        <td>00:40</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>00:00</td>
                        <td>00:40</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                    </table>
                    <ul class="pagination">
                      <li class="disabled"><a href="#" class="first">&middot;&middot;&middot;</a></li>
                      <li class="disabled"><a href="#" class="prev">«</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#" class="next">»</a></li>
                      <li><a href="#" class="last">&middot;&middot;&middot;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-header">
                  <p>Выходной</p>
                  <button data-modal="#modal-add-autoreply" class="button-circle button-add"></button>
                </div>
                <div class="panel-content">
                  <div class="data-table">
                    <table>
                      <thead>
                        <tr>
                          <th style="width:70%;" class="sortable">Сообщение автоответчика</th>
                          <th class="sortable">День недели</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>Суббота</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>Суббота</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>Суббота</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>Суббота</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>Здравствуйте! Вас приветствует компания...</td>
                        <td>Суббота</td>
                        <td>
                          <button data-modal="#modal-edit-autoreply" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                    </table>
                    <ul class="pagination">
                      <li class="disabled"><a href="#" class="first">&middot;&middot;&middot;</a></li>
                      <li class="disabled"><a href="#" class="prev">«</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#" class="next">»</a></li>
                      <li><a href="#" class="last">&middot;&middot;&middot;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-add-autoreply" class="modal modal-narrow white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить сообщение автоответчика</p>
        </div>
        <div class="modal-content">
          <div class="form-group">
            <label>Тип автоответчика</label>
            <select id="modal-add-autoreply-type" class="fg-input">
              <option value="no-operators">Нет операторов</option>
              <option value="lunchtime">Перерыв</option>
              <option value="weekend">Выходной</option>
            </select>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>С</label>
                <input data-format="H:i" type="text" placeholder="Выберите время" class="fg-input fg-date timepicker">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>По</label>
                <input data-format="H:i" type="text" placeholder="Выберите время" class="fg-input fg-date timepicker">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>День недели</label>
            <select class="fg-input">
              <option>Понедельник</option>
              <option>Вторник</option>
              <option>Среда</option>
              <option>Четверг</option>
              <option>Пятница</option>
              <option>Суббота</option>
              <option>Воскресенье</option>
            </select>
          </div>
          <div class="form-group fg-last">
            <label>Сообщение автоответчика</label>
            <textarea placeholder="Введение сообщение автоответчика" class="fg-input"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Добавить</button>
        </div>
      </div>
      <div id="modal-edit-autoreply" class="modal modal-narrow white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить сообщение автоответчика</p>
        </div>
        <div class="modal-content">
          <div class="form-group">
            <label>Тип автоответчика</label>
            <select id="modal-add-autoreply-type" class="fg-input">
              <option value="no-operators">Нет операторов</option>
              <option value="lunchtime">Перерыв</option>
              <option value="weekend" selected>Выходной	</option>
            </select>
          </div>
          <div class="form-group">
            <label>День недели</label>
            <select class="fg-input">
              <option>Понедельник</option>
              <option>Вторник</option>
              <option selected>Среда</option>
              <option>Четверг</option>
              <option>Пятница</option>
              <option>Суббота</option>
              <option>Воскресенье</option>
            </select>
          </div>
          <div class="form-group fg-last">
            <label>Сообщение автоответчика</label>
            <textarea placeholder="Введение сообщение автоответчика" class="fg-input">Здравствуйте! Вас приветствует компания...</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Сохранить</button>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.multiple.select.js"></script>
      <script src="assets/js/jquery.datetimepicker.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>
