gallery.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/multiple-select.css" rel="stylesheet">
    <link href="assets/js/jquery.datetimepicker.css" rel="stylesheet">
    <title>Галерея — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery active">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-quickresponses" class="page">
        <div class="page-navbar">
          <div class="page-navbar-menu">
            <div class="search">
              <input type="text" name="search_query" placeholder="Поиск в галерее">
            </div>
            <div class="menu">
              <div class="menu-item">
                <button data-modal="#modal-upload" class="icon icon-plus">Загрузить файл</button>
              </div>
              <div class="menu-item">
                <button class="icon icon-check">Отметить</button>
              </div>
              <div class="menu-item">
                <button id="btn-gallery-delete" disabled class="icon icon-trash">Удалить</button>
              </div>
              <div class="menu-item">
                <button id="btn-gallery-forward" disabled class="icon icon-forward">Переслать</button>
              </div>
            </div>
          </div>
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="panels-wrapper">
              <div class="panel">
                <div class="panel-header">
                  <p>Галерея</p>
                  <div class="pull-right">
                    <div class="form-group">
                      <select class="fg-input">
                        <option>Изображения</option>
                        <option>Видео</option>
                        <option>Аудио</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="panel-content">
                  <div class="gallery-wrapper">
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/1.mp4" class="gallery-item gallery-item-video">
                      <div style="background-image: url(assets/video.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Видео</div>
                    </div>
                    <div data-href="assets/audio.mp3" class="gallery-item gallery-item-audio">
                      <div class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Аудио</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                    <div data-href="assets/images/picture.jpg" class="gallery-item gallery-item-image">
                      <div style="background-image: url(assets/images/picture.jpg)" class="gallery-item-preview"></div>
                      <div class="gallery-item-title">Скриншот</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-upload" class="modal modal-narrow white-popup mfp-hide">
        <div class="modal-header">
          <p>Загрузить файл</p>
        </div>
        <div class="modal-content">
          <div class="form-group">
            <label>Название файла</label>
            <input type="text" placeholder="Введите название файла" class="fg-input">
          </div>
          <div class="form-group">
            <label>Выбор типа файла</label>
            <select class="fg-input">
              <option>Изображение</option>
              <option>Аудио</option>
              <option>Видео</option>
            </select>
          </div>
          <div class="form-group fg-last">
            <label>Загрузите файл</label>
            <input type="file" class="fg-input">
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Загрузить</button>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.multiple.select.js"></script>
      <script src="assets/js/jquery.datetimepicker.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>

gallery.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		link(href="assets/js/jquery.datetimepicker.css" rel="stylesheet")

		title Галерея — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery.active(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-menu
					.search
						input(type="text" name="search_query" placeholder="Поиск в галерее")
					
					.menu
						.menu-item
							button.icon.icon-plus(data-modal="#modal-upload") Загрузить файл
						.menu-item
							button.icon.icon-check Отметить
						.menu-item
							button#btn-gallery-delete(disabled).icon.icon-trash Удалить
						.menu-item
							button#btn-gallery-forward(disabled).icon.icon-forward Переслать
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
				.panels-wrapper
					.panel
						.panel-header
							p Галерея
							.pull-right
								.form-group
									select.fg-input
										option Изображения
										option Видео
										option Аудио
						
						.panel-content
							.gallery-wrapper
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-video(data-href="assets/1.mp4")
									.gallery-item-preview(style="background-image: url(assets/video.jpg)")
									.gallery-item-title Видео
								.gallery-item.gallery-item-audio(data-href="assets/audio.mp3")
									.gallery-item-preview
									.gallery-item-title Аудио
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								.gallery-item.gallery-item-image(data-href="assets/images/picture.jpg")
									.gallery-item-preview(style="background-image: url(assets/images/picture.jpg)")
									.gallery-item-title Скриншот
								
				
		.modal.modal-narrow.white-popup.mfp-hide#modal-upload
			.modal-header
				p Загрузить файл
				
			.modal-content
				.form-group
					label Название файла
					input.fg-input(type="text" placeholder="Введите название файла")
				
				.form-group
					label Выбор типа файла
					select.fg-input
						option Изображение
						option Аудио
						option Видео
						
				.form-group.fg-last
					label Загрузите файл
					input.fg-input(type="file")
					
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Загрузить
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.multiple.select.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		
		script(src="assets/js/main.js")
		
