preferences.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/pickmeup.css" rel="stylesheet">
    <title>Настройки — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref active">Параметры</a></li>
            <li><a href="#" class="settings">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-quickresponses" class="page">
        <div class="page-navbar">
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="panels-wrapper">
              <div class="panels-wrapper-header">
                <div class="title">
                  <h1>Настройки чатов</h1>
                </div>
              </div>
              <div class="panel">
                <form>
                  <div class="panel-header">
                    <p>Настройки чатов</p>
                  </div>
                  <div class="panel-content">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="form-group">
                          <label>Количество чатов в очереди оператора</label>
                          <select class="fg-input">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="form-group">
                          <label>Интервал ожидания чата (секунд)</label>
                          <input type="text" value="180" class="fg-input">
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="form-group">
                          <label>Таймаут активности пользователя (секунд)</label>
                          <input type="text" value="600" class="fg-input">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <button class="secondary">Настройки по умолчанию</button>
                    <button>Сохранить</button>
                  </div>
                </form>
              </div>
              <div class="panels-wrapper-header">
                <div class="title">
                  <h1>Ограничения по IP</h1>
                </div>
                <div class="menu">
                  <div class="menu-item">
                    <button data-modal="#modal-iprange" class="icon icon-plus">Добавить диапазон IP-адресов</button>
                    <button data-modal="#modal-iplist" class="icon icon-plus">Добавить список IP-адресов</button>
                    <button data-modal="#modal-confirm" class="icon icon-close">Очистить список</button>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-header">
                  <div class="form-group fg-checkbox">
                    <input id="form-filter" name="form-filter" type="checkbox">
                    <label for="form-filter" class="fg-checkbox-label">Фильтровать вход в КЦ по IP</label>
                  </div>
                  <div class="form-group fg-checkbox">
                    <input id="form-ignore" name="form-ignore" type="checkbox">
                    <label for="form-ignore" class="fg-checkbox-label">Игнорировать фильтрацию для текущего пользователя</label>
                  </div>
                </div>
                <div class="panel-content">
                  <div class="data-table">
                    <table>
                      <thead>
                        <tr>
                          <th>Начало диапазона</th>
                          <th>Конец диапазона</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>192.168.0.0</td>
                        <td>192.168.0.255</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>192.168.0.0</td>
                        <td>192.168.0.255</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>192.168.0.0</td>
                        <td>192.168.0.255</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>192.168.0.0</td>
                        <td>192.168.0.255</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                    </table>
                    <ul class="pagination">
                      <li class="disabled"><a href="#" class="first">&middot;&middot;&middot;</a></li>
                      <li class="disabled"><a href="#" class="prev">«</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#" class="next">»</a></li>
                      <li><a href="#" class="last">&middot;&middot;&middot;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-iplist" class="modal white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить список IP-адресов</p>
        </div>
        <div class="modal-content">
          <div class="form-group fg-last">
            <label>Список IP-адресов</label>
            <textarea placeholder="Введите IP-адреса" class="fg-input"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Сохранить</button>
        </div>
      </div>
      <div id="modal-iprange" class="modal white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить диапазон IP-адресов</p>
        </div>
        <div class="modal-content">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group fg-last">
                <label>Начало диапазона</label>
                <input type="text" placeholder="0.0.0.0" class="fg-input">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group fg-last">
                <label>Конец диапазона</label>
                <input type="text" placeholder="0.0.0.0" class="fg-input">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Сохранить</button>
        </div>
      </div>
      <div id="modal-confirm" class="modal white-popup mfp-hide">
        <div class="modal-header">
          <p>Очистить список</p>
        </div>
        <div class="modal-content">
          <p>Вы уверены, что хотите очистить список?</p>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Очистить</button>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.pickmeup.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>

preferences.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Настройки — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref.active(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Настройки чатов
								
					.panel: form
						.panel-header
							p Настройки чатов
						.panel-content
							.row
								.col-xs-4: .form-group
									label Количество чатов в очереди оператора
									select.fg-input
										option 1
										option 2
										option 3
										option 4
										option 5
										option 6
										option 7
										option 8
										option 9
										option 10
										option 11
										option 12
										option 13
									
								.col-xs-4: .form-group
									label Интервал ожидания чата (секунд)
									input.fg-input(type="text" value="180")
									
								.col-xs-4: .form-group
									label Таймаут активности пользователя (секунд)
									input.fg-input(type="text" value="600")
									
						.panel-footer
							button.secondary Настройки по умолчанию
							button Сохранить
					
					
					.panels-wrapper-header
						.title
							h1 Ограничения по IP
						.menu
							.menu-item
								button(data-modal="#modal-iprange").icon.icon-plus Добавить диапазон IP-адресов
								button(data-modal="#modal-iplist").icon.icon-plus Добавить список IP-адресов
								button(data-modal="#modal-confirm").icon.icon-close Очистить список
					.panel
						.panel-header
							.form-group.fg-checkbox
								input#form-filter(name="form-filter" type="checkbox")
								label.fg-checkbox-label(for="form-filter") Фильтровать вход в КЦ по IP
							.form-group.fg-checkbox
								input#form-ignore(name="form-ignore" type="checkbox")
								label.fg-checkbox-label(for="form-ignore") Игнорировать фильтрацию для текущего пользователя
								
						.panel-content
							
								
								
							.data-table
								table
									thead
										tr
											th Начало диапазона
											th Конец диапазона
									tr
										td 192.168.0.0
										td 192.168.0.255
										td
											button.edit
											button.remove
											
									tr
										td 192.168.0.0
										td 192.168.0.255
										td
											button.edit
											button.remove
											
									tr
										td 192.168.0.0
										td 192.168.0.255
										td
											button.edit
											button.remove
											
									tr
										td 192.168.0.0
										td 192.168.0.255
										td
											button.edit
											button.remove
											
								ul.pagination
									li.disabled: a(href="#").first &middot;&middot;&middot;
									li.disabled: a(href="#").prev «
									li.active: a(href="#") 1
									li: a(href="#") 2
									li: a(href="#").next »
									li: a(href="#").last &middot;&middot;&middot;
							
							
		.modal.white-popup.mfp-hide#modal-iplist
			.modal-header
				p Добавить список IP-адресов
				
			.modal-content
				.form-group.fg-last
					label Список IP-адресов
					textarea.fg-input(placeholder="Введите IP-адреса")
					
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
		
		.modal.white-popup.mfp-hide#modal-iprange
			.modal-header
				p Добавить диапазон IP-адресов
				
			.modal-content
				.row
					.col-xs-6: .form-group.fg-last
						label Начало диапазона
						input.fg-input(type="text" placeholder="0.0.0.0")
					.col-xs-6: .form-group.fg-last
						label Конец диапазона
						input.fg-input(type="text" placeholder="0.0.0.0")
						
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
		
		.modal.white-popup.mfp-hide#modal-confirm
			.modal-header
				p Очистить список
				
			.modal-content
				p Вы уверены, что хотите очистить список?
						
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Очистить
		
		
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/main.js")
		
