quickresponses.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/pickmeup.css" rel="stylesheet">
    <title>Быстрые ответы — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses active">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-quickresponses" class="page">
        <div class="page-navbar">
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="row">
              <div class="col-xs-6">
                <div class="panels-wrapper">
                  <h1>Быстрые ответы</h1>
                  <h2>Часто операторам приходится отправлять клиентам<br> одни и те же сообщения — эти фразы вы можете <br>сохранить в Быстрые ответы.</h2>
                  <div class="panel">
                    <form>
                      <div class="panel-header">
                        <p>Создать быстрый ответ</p>
                      </div>
                      <div class="panel-content">
                        <div class="form-group">
                          <label>Название</label>
                          <input placeholder="Введите название" class="fg-input">
                        </div>
                        <div class="form-group">
                          <label>Текст ответа</label>
                          <textarea placeholder="Введите название" class="fg-input"></textarea>
                        </div>
                      </div>
                      <div class="panel-footer">
                        <button>Добавить</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="panel">
                  <div class="panel-header">
                    <p>Список быстрых ответов</p>
                  </div>
                  <div class="panel-content">
                    <div class="data-table">
                      <table>
                        <thead>
                          <tr>
                            <th class="sortable">Название</th>
                            <th style="width: 50%" class="sortable">Текст</th>
                          </tr>
                        </thead>
                        <tr>
                          <td>Приветствие</td>
                          <td>Здравствуйте! Вас приветствует компания...</td>
                          <td>
                            <button class="edit"></button>
                            <button class="remove"></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Приветствие</td>
                          <td>Здравствуйте! Вас приветствует компания...</td>
                          <td>
                            <button class="edit"></button>
                            <button class="remove"></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Приветствие</td>
                          <td>Здравствуйте! Вас приветствует компания...</td>
                          <td>
                            <button class="edit"></button>
                            <button class="remove"></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Приветствие</td>
                          <td>Здравствуйте! Вас приветствует компания...</td>
                          <td>
                            <button class="edit"></button>
                            <button class="remove"></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Приветствие</td>
                          <td>Здравствуйте! Вас приветствует компания...</td>
                          <td>
                            <button class="edit"></button>
                            <button class="remove"></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Приветствие</td>
                          <td>Здравствуйте! Вас приветствует компания...</td>
                          <td>
                            <button class="edit"></button>
                            <button class="remove"></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Приветствие</td>
                          <td>Здравствуйте! Вас приветствует компания...</td>
                          <td>
                            <button class="edit"></button>
                            <button class="remove"></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Приветствие</td>
                          <td>Здравствуйте! Вас приветствует компания...</td>
                          <td>
                            <button class="edit"></button>
                            <button class="remove"></button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.pickmeup.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>

quickresponses.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Быстрые ответы — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses.active(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
				.row
					.col-xs-6
						.panels-wrapper
							h1 Быстрые ответы
							h2 Часто операторам приходится отправлять клиентам<br> одни и те же сообщения — эти фразы вы можете <br>сохранить в Быстрые ответы.
							
							.panel: form
								.panel-header
									p Создать быстрый ответ
								.panel-content
										.form-group
											label Название
											input.fg-input(placeholder="Введите название")
											
										.form-group
											label Текст ответа
											textarea.fg-input(placeholder="Введите название")
											
								.panel-footer
									button Добавить
					
					.col-xs-6
						.panel
							.panel-header
								p Список быстрых ответов
							.panel-content
								.data-table
									table
										thead
											tr
												th.sortable Название
												th.sortable(style="width: 50%") Текст
										tr
											td Приветствие
											td Здравствуйте! Вас приветствует компания...
											td
												button.edit
												button.remove
										tr
											td Приветствие
											td Здравствуйте! Вас приветствует компания...
											td
												button.edit
												button.remove
										tr
											td Приветствие
											td Здравствуйте! Вас приветствует компания...
											td
												button.edit
												button.remove
										tr
											td Приветствие
											td Здравствуйте! Вас приветствует компания...
											td
												button.edit
												button.remove
										tr
											td Приветствие
											td Здравствуйте! Вас приветствует компания...
											td
												button.edit
												button.remove
										tr
											td Приветствие
											td Здравствуйте! Вас приветствует компания...
											td
												button.edit
												button.remove
										tr
											td Приветствие
											td Здравствуйте! Вас приветствует компания...
											td
												button.edit
												button.remove
										tr
											td Приветствие
											td Здравствуйте! Вас приветствует компания...
											td
												button.edit
												button.remove
							
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/main.js")
		
