report-main.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		link(href="assets/js/jquery.datetimepicker.css" rel="stylesheet")
		
		title Аналитика — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.active.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-report-main
			.page-navbar
				.page-navbar-tabs
					ul
						li.active: a(href="report-main.html") Аналитика
						li: a(href="report-stat.html") Статистика обращений
						li: a(href="report-operator.html") Статистика оператора
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-content
				.page-report-main-content: .page-scroller.ps-scroller: .panels-wrapper: .panel
					.panel-header
						p Аналитика
						.pull-right
							.form-group.fg-labeled
								label От
								input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите дату")
							.form-group.fg-labeled
								label До
								input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите дату")
						
					.panel-content
						.row
							.col-xs-4
								.report-item.report-item-chats
									h2 Чаты
									table
										tr
											td.title Всего
											td.val 59
										tr
											td.title Новые
											td.val 30
										tr
											td.title Закрытые
											td.val 29
											
							.col-xs-4
								.report-item.report-item-messages
									h2 Сообщения
									table
										tr
											td.title Всего
											td.val 59
										tr
											td.title Входящие
											td.val 30
										tr
											td.title Исходящие
											td.val 29
											
							.col-xs-4
								.report-item.report-item-attachments
									h2 Приложения
									table
										tr
											td.title Изображения
											td.val 59
										tr
											td.title Видео
											td.val 30
										tr
											td.title Аудио
											td.val 29
											
							.col-xs-12
								.report-graph
									img(src="assets/images/graph.png" alt="")
							
				.page-report-main-sidebar
					.panel
						.panel-header
							p Операторы в системе
						
						.panel-content
							.operators-list.ps-scroller
								.ps-scroller-content
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.orange
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.orange
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.gray
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									.modal-chat-as-operator-item
										.modal-chat-as-operator-item-avatar
											.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
										.modal-chat-as-operator-item-content
											.modal-chat-as-operator-item-name Юлия Власова
											.modal-chat-as-operator-item-contact vlasova@box.com
											.circle.green
											
											.clear
									
							
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		script(src="assets/js/jquery.multiple.select.js")
		
		script(src="assets/js/main.js")
		

report-main.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/multiple-select.css" rel="stylesheet">
    <link href="assets/js/jquery.datetimepicker.css" rel="stylesheet">
    <title>Аналитика — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="active reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-report-main" class="page">
        <div class="page-navbar">
          <div class="page-navbar-tabs">
            <ul>
              <li class="active"><a href="report-main.html">Аналитика</a></li>
              <li><a href="report-stat.html">Статистика обращений</a></li>
              <li><a href="report-operator.html">Статистика оператора</a></li>
            </ul>
          </div>
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-content">
          <div class="page-report-main-content">
            <div class="page-scroller ps-scroller">
              <div class="panels-wrapper">
                <div class="panel">
                  <div class="panel-header">
                    <p>Аналитика</p>
                    <div class="pull-right">
                      <div class="form-group fg-labeled">
                        <label>От</label>
                        <input data-format="d.m.Y H:i" type="text" placeholder="Выберите дату" class="fg-input fg-date datetimepicker">
                      </div>
                      <div class="form-group fg-labeled">
                        <label>До</label>
                        <input data-format="d.m.Y H:i" type="text" placeholder="Выберите дату" class="fg-input fg-date datetimepicker">
                      </div>
                    </div>
                  </div>
                  <div class="panel-content">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="report-item report-item-chats">
                          <h2>Чаты</h2>
                          <table>
                            <tr>
                              <td class="title">Всего</td>
                              <td class="val">59</td>
                            </tr>
                            <tr>
                              <td class="title">Новые</td>
                              <td class="val">30</td>
                            </tr>
                            <tr>
                              <td class="title">Закрытые</td>
                              <td class="val">29</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="report-item report-item-messages">
                          <h2>Сообщения</h2>
                          <table>
                            <tr>
                              <td class="title">Всего</td>
                              <td class="val">59</td>
                            </tr>
                            <tr>
                              <td class="title">Входящие</td>
                              <td class="val">30</td>
                            </tr>
                            <tr>
                              <td class="title">Исходящие</td>
                              <td class="val">29</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="report-item report-item-attachments">
                          <h2>Приложения</h2>
                          <table>
                            <tr>
                              <td class="title">Изображения</td>
                              <td class="val">59</td>
                            </tr>
                            <tr>
                              <td class="title">Видео</td>
                              <td class="val">30</td>
                            </tr>
                            <tr>
                              <td class="title">Аудио</td>
                              <td class="val">29</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <div class="report-graph"><img src="assets/images/graph.png" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-report-main-sidebar">
            <div class="panel">
              <div class="panel-header">
                <p>Операторы в системе</p>
              </div>
              <div class="panel-content">
                <div class="operators-list ps-scroller">
                  <div class="ps-scroller-content">
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle orange"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle orange"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle gray"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="modal-chat-as-operator-item">
                      <div class="modal-chat-as-operator-item-avatar">
                        <div style="background-image: url(assets/images/avatar.png);" class="modal-chat-as-operator-item-avatar-image"></div>
                      </div>
                      <div class="modal-chat-as-operator-item-content">
                        <div class="modal-chat-as-operator-item-name">Юлия Власова</div>
                        <div class="modal-chat-as-operator-item-contact">vlasova@box.com</div>
                        <div class="circle green"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.datetimepicker.min.js"></script>
      <script src="assets/js/jquery.multiple.select.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>
