report-operator.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/multiple-select.css" rel="stylesheet">
    <link href="assets/js/jquery.datetimepicker.css" rel="stylesheet">
    <title>Настройки — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="active reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-quickresponses" class="page">
        <div class="page-navbar">
          <div class="page-navbar-tabs">
            <ul>
              <li><a href="report-main.html">Аналитика</a></li>
              <li><a href="report-stat.html">Статистика обращений</a></li>
              <li class="active"><a href="report-operator.html">Статистика оператора</a></li>
            </ul>
          </div>
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="panels-wrapper">
              <div class="panels-wrapper-header">
                <div class="title">
                  <h1>Статистика оператора</h1>
                </div>
              </div>
              <div class="panel">
                <div class="panel-header">
                  <p>Создать отчет</p>
                </div>
                <div class="panel-content">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Оператор</label>
                        <select class="fg-input">
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                          <option>Юрий Павлов</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <label>Дата и время от</label>
                        <input data-format="d.m.Y H:i" type="text" placeholder="Выберите время" class="fg-input fg-date datetimepicker">
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <label>Дата и время до</label>
                        <input data-format="d.m.Y H:i" type="text" placeholder="Выберите время" class="fg-input fg-date datetimepicker">
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <label>Канал коммуникации</label>
                        <select class="fg-input">
                          <option>WhatsApp</option>
                          <option>Viber</option>
                          <option>Instagram</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <label>Шаг отображения статистики</label>
                        <select class="fg-input">
                          <option>15 минут</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <button>Показать</button>
                  <button>Экспортировать</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.datetimepicker.min.js"></script>
      <script src="assets/js/jquery.multiple.select.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>

report-operator.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		link(href="assets/js/jquery.datetimepicker.css" rel="stylesheet")
		
		title Настройки — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.active.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-tabs
					ul
						li: a(href="report-main.html") Аналитика
						li: a(href="report-stat.html") Статистика обращений
						li.active: a(href="report-operator.html") Статистика оператора
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Статистика оператора
							
					.panel
						.panel-header
							p Создать отчет
						
						.panel-content
							.row
								.col-xs-12
									.form-group
										label Оператор
										select.fg-input
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов
											option Юрий Павлов

								.col-xs-3
									.form-group
										label Дата и время от
										input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите время")
											
								.col-xs-3
									.form-group
										label Дата и время до
										input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите время")
											
											
								.col-xs-3
									.form-group
										label Канал коммуникации
										select.fg-input
											option WhatsApp
											option Viber
											option Instagram
								.col-xs-3
									.form-group
										label Шаг отображения статистики
										select.fg-input
											option 15 минут
									
											
						
						.panel-footer
							button Показать
							button Экспортировать
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		script(src="assets/js/jquery.multiple.select.js")
		
		script(src="assets/js/main.js")
		
