settings-accounts.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/pickmeup.css" rel="stylesheet">
    <title>Настройки — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings active">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-quickresponses" class="page">
        <div class="page-navbar">
          <div class="page-navbar-tabs">
            <ul>
              <li class="active"><a href="#">Номера и учетные записи</a></li>
              <li><a href="#">Пользователи</a></li>
            </ul>
          </div>
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="panels-wrapper">
              <div class="panels-wrapper-header">
                <div class="title">
                  <h1>Номера и учетные записи</h1>
                </div>
                <div class="menu">
                  <div class="menu-item">
                    <button data-modal="#modal-settings-add-account-type" class="icon icon-plus">Добавить учетную запись</button>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-header">
                  <p>Список учетных записей</p>
                  <button data-modal="#modal-settings-add-account-type" class="button-circle button-add"></button>
                </div>
                <div class="panel-content">
                  <div class="data-table">
                    <table>
                      <thead>
                        <tr>
                          <th style="width:200px;" class="sortable">Статус</th>
                          <th class="sortable">Тип</th>
                          <th class="sortable">Номер / логин</th>
                          <th class="sortable">Имя профиля</th>
                          <th class="sortable">Добавлено</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tr>
                        <td><a href="#" title="Отключить" class="circle green">Активен</a></td>
                        <td>
                          <div class="settings-account-type whatsapp">WhatsApp</div>
                        </td>
                        <td>+996 706 001 006</td>
                        <td>INCARE</td>
                        <td>22/09/2015</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="" title="Включить" class="circle gray">Неактивен</a></td>
                        <td>
                          <div class="settings-account-type viber">Viber</div>
                        </td>
                        <td>+996 706 001 006</td>
                        <td>INCARE</td>
                        <td>22/09/2015</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div title="Не зарегистрирован" class="circle red">Не&nbsp;зарегистрирован</div>
                        </td>
                        <td>
                          <div class="settings-account-type facebook">Facebook</div>
                        </td>
                        <td>+996 706 001 006</td>
                        <td>INCARE</td>
                        <td>22/09/2015</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div title="Ожидает подтверждения" class="circle orange">Ожидает&nbsp;подтверждения</div>
                        </td>
                        <td>
                          <div class="settings-account-type instagram">Instagram</div>
                        </td>
                        <td>+996 706 001 006</td>
                        <td>INCARE</td>
                        <td>22/09/2015</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить" class="circle green">Активен</a></td>
                        <td>
                          <div class="settings-account-type odnoklassniki">Одноклассники</div>
                        </td>
                        <td>+996 706 001 006</td>
                        <td>INCARE</td>
                        <td>22/09/2015</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить" class="circle green">Активен</a></td>
                        <td>
                          <div class="settings-account-type skype">Skype</div>
                        </td>
                        <td>+996 706 001 006</td>
                        <td>INCARE</td>
                        <td>22/09/2015</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить" class="circle green">Активен</a></td>
                        <td>
                          <div class="settings-account-type vk">Vkontakte</div>
                        </td>
                        <td>+996 706 001 006</td>
                        <td>INCARE</td>
                        <td>22/09/2015</td>
                        <td>
                          <button class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                    </table>
                    <div class="pagination"><a href="#" class="disabled first">&middot;&middot;&middot;</a><a href="#" class="disabled prev">«</a><a href="#" class="active page-num">1</a><a href="#" class="page-num">2</a><a href="#" class="next">»</a><a href="#" class="last">&middot;&middot;&middot;</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Popup Select type-->
      <div id="modal-settings-add-account-type" class="modal modal-account white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить аккаунт</p>
          <h1>Выберите тип аккаунта</h1>
        </div>
        <div class="modal-content">
          <div class="row">
            <div class="col-xs-6">
              <h2>Мессенджеры</h2><a href="#" data-modal="#modal-settings-whatsapp" class="account-type-messenger whatsapp">WhatsApp</a><a href="#" data-modal="#modal-settings-whatsapp" class="account-type-messenger viber">Viber</a><a href="#" data-modal="#modal-settings-whatsapp" class="account-type-messenger skype">Skype</a><a href="#" data-modal="#modal-settings-whatsapp-error" class="account-type-messenger skype">Ошибка</a>
            </div>
            <div class="col-xs-6">
              <h2>Соц. сети</h2><a href="#" data-modal="#modal-settings-facebook" class="account-type-messenger facebook">Facebook</a><a href="#" data-modal="#modal-settings-facebook" class="account-type-messenger vkontakte">Вконтакте</a><a href="#" data-modal="#modal-settings-facebook" class="account-type-messenger odnoklassniki">Одноклассники</a><a href="#" data-modal="#modal-settings-facebook" class="account-type-messenger instagram">Instagram</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
        </div>
      </div>
      <!-- Popup: WhatsApp-->
      <div id="modal-settings-whatsapp" class="modal modal-account modal-account-whatsapp white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить аккаунт</p>
          <h1>WhatsApp</h1>
        </div>
        <div class="modal-content">
          <p>Убедитесь, что сим-карта с активируемым номером вставлена в мобильный аппарат и может принимать СМС-сообщения.</p>
          <div class="form-group">
            <input type="text" placeholder="Название организации" class="fg-input">
          </div>
          <div class="row">
            <div class="col-xs-5">
              <div class="form-group">
                <select class="fg-input">
                  <option value="">+1 США</option>
                  <option value="">+1 Канада</option>
                  <option value="">+20 Египет</option>
                  <option value="">+211 Судан</option>
                  <option value="">+31 Нидерланды</option>
                  <option value="">+996 Кыргызстан</option>
                </select>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="form-group">
                <input type="text" placeholder="Номер телефона" class="fg-input">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Способ активации</label>
            <select class="fg-input">
              <option value="">СМС</option>
              <option value="">Голос</option>
            </select>
          </div>
          <div class="form-group fg-last">
            <input type="checkbox" id="agree" name="agree">
            <label for="agree" class="fg-checkbox-label">Я подтверждаю, что являюсь законным владельцем указанного номера телефона и согласен с условиями договора оферты.</label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button data-modal="#modal-settings-whatsapp-activation" class="primary">Далее</button>
        </div>
      </div>
      <!-- Popup: Facebook-->
      <div id="modal-settings-facebook" class="modal modal-account modal-account-facebook white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить аккаунт</p>
          <h1>Facebook</h1>
        </div>
        <div class="modal-content">
          <p>Для активации Вашего профиля, пожалуйста, заполните нижеуказанные поля.</p>
          <div class="form-group">
            <input type="text" placeholder="Логин" class="fg-input">
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <input type="password" placeholder="Пароль" class="fg-input">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <input type="password" placeholder="Повторите пароль" class="fg-input">
              </div>
            </div>
          </div>
          <div class="form-group fg-last">
            <input type="checkbox" id="agree" name="agree">
            <label for="agree" class="fg-checkbox-label">Я подтверждаю, что являюсь законным владельцем указанной учетной записи (профиля) и согласен с условиями договора оферты.</label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button data-modal="#modal-settings-facebook-done" class="primary">Далее</button>
        </div>
      </div>
      <!-- Popup: Activation-->
      <div id="modal-settings-whatsapp-activation" class="modal modal-account modal-account-whatsapp white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить аккаунт</p>
          <h1>WhatsApp</h1>
        </div>
        <div class="modal-content">
          <p>Для активации номера введите код, который вы получили в СМС-сообщении.</p>
          <div class="form-group activation">
            <input type="text" placeholder="Код активации (6 цифр)" class="fg-input">
          </div>
        </div>
        <div class="modal-footer">
          <button data-modal="#modal-settings-whatsapp" class="secondary">Назад</button>
          <button data-modal="#modal-settings-whatsapp-done" class="primary">Активировать</button>
        </div>
      </div>
      <!-- Popup: Done-->
      <div id="modal-settings-whatsapp-done" class="modal modal-account modal-account-whatsapp white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить аккаунт</p>
          <h1>WhatsApp</h1>
        </div>
        <div class="modal-content">
          <div class="done">Ваша учетная запись была успешно активирована!</div>
        </div>
        <div class="modal-footer">
          <button class="primary modal-close">Закрыть</button>
        </div>
      </div>
      <div id="modal-settings-whatsapp-error" class="modal modal-account modal-account-whatsapp white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить аккаунт</p>
          <h1>WhatsApp</h1>
        </div>
        <div class="modal-content">
          <div class="error">Произошла ошибка активации. Попробуйте снова.</div>
        </div>
        <div class="modal-footer">
          <button data-modal="#modal-settings-whatsapp" class="secondary">Назад</button>
          <button class="primary modal-close">Закрыть</button>
        </div>
      </div>
      <div id="modal-settings-facebook-done" class="modal modal-account modal-account-facebook white-popup mfp-hide">
        <div class="modal-header">
          <p>Добавить аккаунт</p>
          <h1>Facebook</h1>
        </div>
        <div class="modal-content">
          <div class="done">Ваша учетная запись была успешно активирована!</div>
        </div>
        <div class="modal-footer">
          <button class="primary modal-close">Закрыть</button>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.pickmeup.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>

settings-accounts.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Настройки — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-tabs
					ul
						li.active: a(href="#") Номера и учетные записи
						li: a(href="#") Пользователи
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Номера и учетные записи
						.menu
							.menu-item
								button(data-modal="#modal-settings-add-account-type").icon.icon-plus Добавить учетную запись
					.panel
						.panel-header
							p Список учетных записей
							button.button-circle.button-add(data-modal="#modal-settings-add-account-type")
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable(style="width:200px;") Статус
											th.sortable Тип
											th.sortable Номер / логин
											th.sortable Имя профиля
											th.sortable Добавлено
											th 
									tr
										td: a(href="#" title="Отключить").circle.green Активен
										td: .settings-account-type.whatsapp WhatsApp
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: a(href="" title="Включить").circle.gray Неактивен
										td: .settings-account-type.viber Viber
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: .circle.red(title="Не зарегистрирован") Не&nbsp;зарегистрирован
										td: .settings-account-type.facebook Facebook
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: .circle.orange(title="Ожидает подтверждения") Ожидает&nbsp;подтверждения
										td: .settings-account-type.instagram Instagram
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: a(href="#" title="Отключить").circle.green Активен
										td: .settings-account-type.odnoklassniki Одноклассники
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: a(href="#" title="Отключить").circle.green Активен
										td: .settings-account-type.skype Skype
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: a(href="#" title="Отключить").circle.green Активен
										td: .settings-account-type.vk Vkontakte
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
								.pagination
									a(href="#").disabled.first &middot;&middot;&middot;
									a(href="#").disabled.prev «
									a(href="#").active.page-num 1
									a(href="#").page-num 2
									a(href="#").next »
									a(href="#").last &middot;&middot;&middot;
		
		// Popup Select type
		.modal.modal-account.white-popup.mfp-hide#modal-settings-add-account-type
			.modal-header
				p Добавить аккаунт
				h1 Выберите тип аккаунта
			.modal-content
				
				.row
					.col-xs-6
						h2 Мессенджеры
						a(href="#" data-modal="#modal-settings-whatsapp").account-type-messenger.whatsapp WhatsApp
						a(href="#" data-modal="#modal-settings-whatsapp").account-type-messenger.viber Viber
						a(href="#" data-modal="#modal-settings-whatsapp").account-type-messenger.skype Skype
						a(href="#" data-modal="#modal-settings-whatsapp-error").account-type-messenger.skype Ошибка
						
					.col-xs-6
						h2 Соц. сети
						a(href="#" data-modal="#modal-settings-facebook").account-type-messenger.facebook Facebook
						a(href="#" data-modal="#modal-settings-facebook").account-type-messenger.vkontakte Вконтакте
						a(href="#" data-modal="#modal-settings-facebook").account-type-messenger.odnoklassniki Одноклассники
						a(href="#" data-modal="#modal-settings-facebook").account-type-messenger.instagram Instagram
			
			.modal-footer
				button.secondary.modal-close Отмена
					
		// Popup: WhatsApp
		.modal.modal-account.modal-account-whatsapp.white-popup.mfp-hide#modal-settings-whatsapp
			.modal-header
				p Добавить аккаунт
				h1 WhatsApp
			.modal-content
				p Убедитесь, что сим-карта с активируемым номером вставлена в мобильный аппарат и может принимать СМС-сообщения.
				
				.form-group
					input.fg-input(type="text" placeholder="Название организации")
					
				.row
					.col-xs-5
						.form-group
							select.fg-input
								option(value="") +1 США
								option(value="") +1 Канада
								option(value="") +20 Египет
								option(value="") +211 Судан
								option(value="") +31 Нидерланды
								option(value="") +996 Кыргызстан
								
					.col-xs-7
						.form-group
							input.fg-input(type="text" placeholder="Номер телефона")
							
				.form-group
					label Способ активации
					select.fg-input
						option(value="") СМС
						option(value="") Голос
								
				.form-group.fg-last
					input(type="checkbox" id="agree" name="agree")
					label.fg-checkbox-label(for="agree") Я подтверждаю, что являюсь законным владельцем указанного номера телефона и согласен с условиями договора оферты.
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary(data-modal="#modal-settings-whatsapp-activation") Далее
				
		// Popup: Facebook
		.modal.modal-account.modal-account-facebook.white-popup.mfp-hide#modal-settings-facebook
			.modal-header
				p Добавить аккаунт
				h1 Facebook
			.modal-content
				p Для активации Вашего профиля, пожалуйста, заполните нижеуказанные поля.
				
				.form-group
					input.fg-input(type="text" placeholder="Логин")
					
				.row
					.col-xs-6
						.form-group
							input.fg-input(type="password" placeholder="Пароль")
					.col-xs-6
						.form-group
							input.fg-input(type="password" placeholder="Повторите пароль")
				
				.form-group.fg-last
					input(type="checkbox" id="agree" name="agree")
					label.fg-checkbox-label(for="agree") Я подтверждаю, что являюсь законным владельцем указанной учетной записи (профиля) и согласен с условиями договора оферты.
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary(data-modal="#modal-settings-facebook-done") Далее
				
		// Popup: Activation
		.modal.modal-account.modal-account-whatsapp.white-popup.mfp-hide#modal-settings-whatsapp-activation
			.modal-header
				p Добавить аккаунт
				h1 WhatsApp
			.modal-content
				p Для активации номера введите код, который вы получили в СМС-сообщении.
				
				.form-group.activation
					input.fg-input(type="text" placeholder="Код активации (6 цифр)")
					
			.modal-footer
				button.secondary(data-modal="#modal-settings-whatsapp") Назад
				button.primary(data-modal="#modal-settings-whatsapp-done") Активировать
				
				
				
				
		// Popup: Done
		.modal.modal-account.modal-account-whatsapp.white-popup.mfp-hide#modal-settings-whatsapp-done
			.modal-header
				p Добавить аккаунт
				h1 WhatsApp
			.modal-content
				.done Ваша учетная запись была успешно активирована!
								
			.modal-footer
				button.primary.modal-close Закрыть
				
		.modal.modal-account.modal-account-whatsapp.white-popup.mfp-hide#modal-settings-whatsapp-error
			.modal-header
				p Добавить аккаунт
				h1 WhatsApp
			.modal-content
				.error Произошла ошибка активации. Попробуйте снова.
								
			.modal-footer
				button.secondary(data-modal="#modal-settings-whatsapp") Назад
				button.primary.modal-close Закрыть
				
		.modal.modal-account.modal-account-facebook.white-popup.mfp-hide#modal-settings-facebook-done
			.modal-header
				p Добавить аккаунт
				h1 Facebook
			.modal-content
				.done Ваша учетная запись была успешно активирована!
								
			.modal-footer
				button.primary.modal-close Закрыть
				
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		
		script(src="assets/js/main.js")
		
