settings-company.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Настройки — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-settings-company
			.page-navbar
				.page-navbar-tabs
					ul
						li: a(href="#") Номера и учетные записи
						li: a(href="#") Пользователи
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller
				.page-content
					.row
						.col-xs-6
							.panels-wrapper
								.panel
									.panel-header
										p О компании
									.panel-content
										.row
											.col-xs-5
												.settings-company-logo(style="background-image: url(assets/images/company-logo.png);")
													a(href="#").settings-company-logo-edit
											.col-xs-7
												.settings-company-info
													.settings-company-info-name Incare CenterLimitedSuperInvestmentManagementConsultingGroupIncorporated <a href="#" class="settings-company-info-name-edit"></a>
													.settings-company-info-tarif Тариф Стандарт
													.settings-company-info-licences Лицензии активны до 28 ноября 2015
													.settings-company-info-users Всего пользователей: 9
													
						.col-xs-6
							.panels-wrapper
								.panel
									.panel-header
										p Активные каналы коммуникации
									.panel-content
										.row
											.col-xs-6
												h2 Мессенджеры
												.account-type-messenger.whatsapp +1 234 5668 900
												button.account-type-messenger.viber.add Добавить...
												button.account-type-messenger.skype.add Добавить...
											.col-xs-6
												h2 Соц. сети
												.account-type-messenger.facebook incarecenter@facebook.com
												button.account-type-messenger.vkontakte.add Добавить...
												button.account-type-messenger.odnoklassniki.add Добавить...
												button.account-type-messenger.instagram.add Добавить...
												
						
						.col-xs-12
							.pael-wrapper
								.panel
									.panel-header
										p Тарифы
									.panel-content
										.row
											.col-xs-4
												.sc-tarif
													.sc-tarif-select
														button Выбрать
													
													.sc-tarif-title Lite
													.sc-tarif-subtitle Для малого бизнеса
													// hr
													.sc-tarif-price.row
														.col-xs-3.sc-tarif-price-amount <span class="price"><i>$</i>50</span>
														.col-xs-9.sc-tarif-price-text в месяц<br>за 1 оператора<br> <i>(до 3 лицензий)</i>
													hr
													.sc-tarif-addprice <span class="price"><i>$</i>10</span> за каждый новый канал коммуникации
													.sc-tarif-support Техническая поддержка: нет
											.col-xs-4
												.sc-tarif
													.sc-tarif-select
														button.secondary.disabled Активный
														p Активен до<br>28 ноября 2015
													
													.sc-tarif-title Standard
													.sc-tarif-subtitle Для малого и среднего бизнеса
													// hr
													.sc-tarif-price.row
														.col-xs-3.sc-tarif-price-amount <span class="price"><i>$</i>45</span>
														.col-xs-9.sc-tarif-price-text в месяц<br>за 1 оператора<br> <i>(до 3 лицензий)</i>
													hr
													.sc-tarif-addprice <span class="price"><i>$</i>10</span> за каждый новый канал коммуникации
													.sc-tarif-support Техническая поддержка: 8/5
											.col-xs-4
												.sc-tarif
													.sc-tarif-select
														button Выбрать
													
													.sc-tarif-title Premium
													.sc-tarif-subtitle Для крупного бизнеса
													// hr
													.sc-tarif-price.row
														.col-xs-3.sc-tarif-price-amount <span class="price"><i>$</i>40</span>
														.col-xs-9.sc-tarif-price-text в месяц<br>за 1 оператора<br> <i>(до 3 лицензий)</i>
													hr
													.sc-tarif-addprice <span class="price"><i>$</i>0</span> за каждый новый канал коммуникации
													.sc-tarif-support Техническая поддержка: 24/7
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		
		script(src="assets/js/main.js")
		

settings-company.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/pickmeup.css" rel="stylesheet">
    <title>Настройки — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings active">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-settings-company" class="page">
        <div class="page-navbar">
          <div class="page-navbar-tabs">
            <ul>
              <li><a href="#">Номера и учетные записи</a></li>
              <li><a href="#">Пользователи</a></li>
            </ul>
          </div>
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="row">
              <div class="col-xs-6">
                <div class="panels-wrapper">
                  <div class="panel">
                    <div class="panel-header">
                      <p>О компании</p>
                    </div>
                    <div class="panel-content">
                      <div class="row">
                        <div class="col-xs-5">
                          <div style="background-image: url(assets/images/company-logo.png);" class="settings-company-logo"><a href="#" class="settings-company-logo-edit"></a></div>
                        </div>
                        <div class="col-xs-7">
                          <div class="settings-company-info">
                            <div class="settings-company-info-name">Incare CenterLimitedSuperInvestmentManagementConsultingGroupIncorporated <a href="#" class="settings-company-info-name-edit"></a></div>
                            <div class="settings-company-info-tarif">Тариф Стандарт</div>
                            <div class="settings-company-info-licences">Лицензии активны до 28 ноября 2015</div>
                            <div class="settings-company-info-users">Всего пользователей: 9</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="panels-wrapper">
                  <div class="panel">
                    <div class="panel-header">
                      <p>Активные каналы коммуникации</p>
                    </div>
                    <div class="panel-content">
                      <div class="row">
                        <div class="col-xs-6">
                          <h2>Мессенджеры</h2>
                          <div class="account-type-messenger whatsapp">+1 234 5668 900</div>
                          <button class="account-type-messenger viber add">Добавить...</button>
                          <button class="account-type-messenger skype add">Добавить...</button>
                        </div>
                        <div class="col-xs-6">
                          <h2>Соц. сети</h2>
                          <div class="account-type-messenger facebook">incarecenter@facebook.com</div>
                          <button class="account-type-messenger vkontakte add">Добавить...</button>
                          <button class="account-type-messenger odnoklassniki add">Добавить...</button>
                          <button class="account-type-messenger instagram add">Добавить...</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="pael-wrapper">
                  <div class="panel">
                    <div class="panel-header">
                      <p>Тарифы</p>
                    </div>
                    <div class="panel-content">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="sc-tarif">
                            <div class="sc-tarif-select">
                              <button>Выбрать</button>
                            </div>
                            <div class="sc-tarif-title">Lite</div>
                            <div class="sc-tarif-subtitle">Для малого бизнеса</div>
                            <!-- hr-->
                            <div class="sc-tarif-price row">
                              <div class="col-xs-3 sc-tarif-price-amount"><span class="price"><i>$</i>50</span></div>
                              <div class="col-xs-9 sc-tarif-price-text">в месяц<br>за 1 оператора<br> <i>(до 3 лицензий)</i></div>
                            </div>
                            <hr>
                            <div class="sc-tarif-addprice"><span class="price"><i>$</i>10</span> за каждый новый канал коммуникации</div>
                            <div class="sc-tarif-support">Техническая поддержка: нет</div>
                          </div>
                        </div>
                        <div class="col-xs-4">
                          <div class="sc-tarif">
                            <div class="sc-tarif-select">
                              <button class="secondary disabled">Активный</button>
                              <p>Активен до<br>28 ноября 2015</p>
                            </div>
                            <div class="sc-tarif-title">Standard</div>
                            <div class="sc-tarif-subtitle">Для малого и среднего бизнеса</div>
                            <!-- hr-->
                            <div class="sc-tarif-price row">
                              <div class="col-xs-3 sc-tarif-price-amount"><span class="price"><i>$</i>45</span></div>
                              <div class="col-xs-9 sc-tarif-price-text">в месяц<br>за 1 оператора<br> <i>(до 3 лицензий)</i></div>
                            </div>
                            <hr>
                            <div class="sc-tarif-addprice"><span class="price"><i>$</i>10</span> за каждый новый канал коммуникации</div>
                            <div class="sc-tarif-support">Техническая поддержка: 8/5</div>
                          </div>
                        </div>
                        <div class="col-xs-4">
                          <div class="sc-tarif">
                            <div class="sc-tarif-select">
                              <button>Выбрать</button>
                            </div>
                            <div class="sc-tarif-title">Premium</div>
                            <div class="sc-tarif-subtitle">Для крупного бизнеса</div>
                            <!-- hr-->
                            <div class="sc-tarif-price row">
                              <div class="col-xs-3 sc-tarif-price-amount"><span class="price"><i>$</i>40</span></div>
                              <div class="col-xs-9 sc-tarif-price-text">в месяц<br>за 1 оператора<br> <i>(до 3 лицензий)</i></div>
                            </div>
                            <hr>
                            <div class="sc-tarif-addprice"><span class="price"><i>$</i>0</span> за каждый новый канал коммуникации</div>
                            <div class="sc-tarif-support">Техническая поддержка: 24/7</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.pickmeup.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>
