settings.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Настройки — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-scroll
					button.pns-l
					button.pns-r
					.page-navbar-tabs
						ul
							li: a(href="#") Номера и учетные записи
							li.active: a(href="#") Пользователи
							li: a(href="#") Ограничение по IP
							li: a(href="#") Группы пользователей
							li: a(href="#") Автоответчик
							li: a(href="#") Шаблоны писем
							li: a(href="#") О компании
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Пользователи
						.menu
							.menu-item
								button.icon.icon-plus(data-modal="#modal-add-user") Добавить пользователя
							.menu-item
								button.icon.icon-export Экспорт
							.menu-item
								button.icon.icon-print Печать
							
					.panel
						.panel-header
							.panel-header-tabs
								ul
									li.active: a(href="#") Все пользователи
									li: a(href="#") Администраторы
									li: a(href="#") Операторы
							.panel-header-right
								.form-group.page-archive-panel-form-keyword
									input.fg-input.icon.icon-search(type="text" placeholder="Ключевое слово")
						
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable Статус
											th.sortable Логин
											th.sortable ФИО
											th.sortable Email
											th.sortable Права доступа
											th.sortable Группа
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
											
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Включить пользователя").circle.orange
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Включить пользователя").circle.orange
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Включить пользователя").circle.orange
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
								.pagination
									a(href="#").disabled.first &middot;&middot;&middot;
									a(href="#").disabled.prev «
									a(href="#").active.page-num 1
									a(href="#").page-num 2
									a(href="#").next »
									a(href="#").last &middot;&middot;&middot;
		
		
		
		.modal.modal-add-user.white-popup.mfp-hide#modal-add-user
			.modal-header
				.company-info
					.company-logo
						img(src="assets/images/company-logo.png" alt="Company Logo")
					.company-name ОченьДлинноеСлитноеНазваниеКомпанииКотороеТакИХочетПорватьВерстку:D
				p Добавить пользователя
				
			.modal-content
				.row
					.col-xs-6
						.form-group
							label Логин
							input.fg-input(type="text" placeholder="Логин")
					.col-xs-6
						.form-group
							label E-mail
							input.fg-input(type="text" placeholder="E-mail")
				
				.form-group
					label ФИО
					input.fg-input(type="text" placeholder="ФИО")
					
				.row
					.col-xs-6
						.form-group
							label Пароль
							input.fg-input(type="password" placeholder="Пароль")
					.col-xs-6
						.form-group
							label &nbsp;
							input.fg-input(type="password" placeholder="Повторите пароль")
							
				
				.row
					.col-xs-6
						.form-group.fg-last
							label Права доступа
							select.fg-input
								option Администратор
								option Оператор
								
					.col-xs-6
						.form-group.fg-last
							label Группы
							select#edit-group.multipleselect(multiple data-placeholder="Выберите группы").fg-input
								option(value="techsupport") Техническая поддержка
								option(value="reception") Ресепшн
								option(value="contactcenter") Контакт-центр
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Добавить
				
				
		.modal.modal-add-user.white-popup.mfp-hide#modal-edit-user
			.modal-header
				.company-info
					.company-logo
						img(src="assets/images/company-logo.png" alt="Company Logo")
					.company-name ОченьДлинноеСлитноеНазваниеКомпанииКотороеТакИХочетПорватьВерстку:D
				p Редактировать пользователя
				
			.modal-content
				.row
					.col-xs-6
						.form-group
							label Логин
							input.fg-input(type="text" placeholder="Логин" value="jacob")
					.col-xs-6
						.form-group
							label E-mail
							input.fg-input(type="text" placeholder="E-mail" value="jacob@pock.et")
				
				.form-group
					label ФИО
					input.fg-input(type="text" placeholder="ФИО" value="Джейкоб Джон Кемпбелл")
					
				.row
					.col-xs-6
						.form-group
							label Новый пароль
							input.fg-input(type="password" placeholder="Пароль")
					.col-xs-6
						.form-group
							label &nbsp;
							input.fg-input(type="password" placeholder="Повторите пароль")
							
				
				.row
					.col-xs-6
						.form-group.fg-last
							label Права доступа
							select.fg-input
								option Администратор
								option Оператор
								
					.col-xs-6
						.form-group.fg-last
							label Группы
							select#edit-group.multipleselect(multiple data-placeholder="Выберите группы").fg-input
								option(value="techsupport") Техническая поддержка
								option(selected value="reception") Ресепшн
								option(selected value="contactcenter") Контакт-центр
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/jquery.multiple.select.js")
		
		script(src="assets/js/main.js")
		

settings.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/multiple-select.css" rel="stylesheet">
    <link href="assets/js/pickmeup.css" rel="stylesheet">
    <title>Настройки — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref">Параметры</a></li>
            <li><a href="#" class="settings active">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-quickresponses" class="page">
        <div class="page-navbar">
          <div class="page-navbar-scroll">
            <button class="pns-l"></button>
            <button class="pns-r"></button>
            <div class="page-navbar-tabs">
              <ul>
                <li><a href="#">Номера и учетные записи</a></li>
                <li class="active"><a href="#">Пользователи</a></li>
                <li><a href="#">Ограничение по IP</a></li>
                <li><a href="#">Группы пользователей</a></li>
                <li><a href="#">Автоответчик</a></li>
                <li><a href="#">Шаблоны писем</a></li>
                <li><a href="#">О компании</a></li>
              </ul>
            </div>
          </div>
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="panels-wrapper">
              <div class="panels-wrapper-header">
                <div class="title">
                  <h1>Пользователи</h1>
                </div>
                <div class="menu">
                  <div class="menu-item">
                    <button data-modal="#modal-add-user" class="icon icon-plus">Добавить пользователя</button>
                  </div>
                  <div class="menu-item">
                    <button class="icon icon-export">Экспорт</button>
                  </div>
                  <div class="menu-item">
                    <button class="icon icon-print">Печать</button>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-header">
                  <div class="panel-header-tabs">
                    <ul>
                      <li class="active"><a href="#">Все пользователи</a></li>
                      <li><a href="#">Администраторы</a></li>
                      <li><a href="#">Операторы</a></li>
                    </ul>
                  </div>
                  <div class="panel-header-right">
                    <div class="form-group page-archive-panel-form-keyword">
                      <input type="text" placeholder="Ключевое слово" class="fg-input icon icon-search">
                    </div>
                  </div>
                </div>
                <div class="panel-content">
                  <div class="data-table">
                    <table>
                      <thead>
                        <tr>
                          <th class="sortable">Статус</th>
                          <th class="sortable">Логин</th>
                          <th class="sortable">ФИО</th>
                          <th class="sortable">Email</th>
                          <th class="sortable">Права доступа</th>
                          <th class="sortable">Группа</th>
                        </tr>
                      </thead>
                      <tr>
                        <td><a href="#" title="Отключить пользователя" class="circle green"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить пользователя" class="circle green"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить пользователя" class="circle green"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить пользователя" class="circle green"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить пользователя" class="circle green"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить пользователя" class="circle green"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Отключить пользователя" class="circle green"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Включить пользователя" class="circle orange"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Включить пользователя" class="circle orange"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" title="Включить пользователя" class="circle orange"></a></td>
                        <td>jacob</td>
                        <td>Джейкоб Джон Кемпбелл</td>
                        <td>jacob@pock.et</td>
                        <td>Администратор</td>
                        <td>Техническая поддержка</td>
                        <td>
                          <button data-modal="#modal-edit-user" class="edit"></button>
                          <button class="remove"></button>
                        </td>
                      </tr>
                    </table>
                    <div class="pagination"><a href="#" class="disabled first">&middot;&middot;&middot;</a><a href="#" class="disabled prev">«</a><a href="#" class="active page-num">1</a><a href="#" class="page-num">2</a><a href="#" class="next">»</a><a href="#" class="last">&middot;&middot;&middot;</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-add-user" class="modal modal-add-user white-popup mfp-hide">
        <div class="modal-header">
          <div class="company-info">
            <div class="company-logo"><img src="assets/images/company-logo.png" alt="Company Logo"></div>
            <div class="company-name">ОченьДлинноеСлитноеНазваниеКомпанииКотороеТакИХочетПорватьВерстку:D</div>
          </div>
          <p>Добавить пользователя</p>
        </div>
        <div class="modal-content">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Логин</label>
                <input type="text" placeholder="Логин" class="fg-input">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>E-mail</label>
                <input type="text" placeholder="E-mail" class="fg-input">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>ФИО</label>
            <input type="text" placeholder="ФИО" class="fg-input">
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Пароль</label>
                <input type="password" placeholder="Пароль" class="fg-input">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>&nbsp;</label>
                <input type="password" placeholder="Повторите пароль" class="fg-input">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group fg-last">
                <label>Права доступа</label>
                <select class="fg-input">
                  <option>Администратор</option>
                  <option>Оператор</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group fg-last">
                <label>Группы</label>
                <select id="edit-group" multiple data-placeholder="Выберите группы" class="multipleselect fg-input">
                  <option value="techsupport">Техническая поддержка</option>
                  <option value="reception">Ресепшн</option>
                  <option value="contactcenter">Контакт-центр</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Добавить</button>
        </div>
      </div>
      <div id="modal-edit-user" class="modal modal-add-user white-popup mfp-hide">
        <div class="modal-header">
          <div class="company-info">
            <div class="company-logo"><img src="assets/images/company-logo.png" alt="Company Logo"></div>
            <div class="company-name">ОченьДлинноеСлитноеНазваниеКомпанииКотороеТакИХочетПорватьВерстку:D</div>
          </div>
          <p>Редактировать пользователя</p>
        </div>
        <div class="modal-content">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Логин</label>
                <input type="text" placeholder="Логин" value="jacob" class="fg-input">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>E-mail</label>
                <input type="text" placeholder="E-mail" value="jacob@pock.et" class="fg-input">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>ФИО</label>
            <input type="text" placeholder="ФИО" value="Джейкоб Джон Кемпбелл" class="fg-input">
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Новый пароль</label>
                <input type="password" placeholder="Пароль" class="fg-input">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>&nbsp;</label>
                <input type="password" placeholder="Повторите пароль" class="fg-input">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group fg-last">
                <label>Права доступа</label>
                <select class="fg-input">
                  <option>Администратор</option>
                  <option>Оператор</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group fg-last">
                <label>Группы</label>
                <select id="edit-group" multiple data-placeholder="Выберите группы" class="multipleselect fg-input">
                  <option value="techsupport">Техническая поддержка</option>
                  <option selected value="reception">Ресепшн</option>
                  <option selected value="contactcenter">Контакт-центр</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary modal-close">Отмена</button>
          <button class="primary">Сохранить</button>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.pickmeup.min.js"></script>
      <script src="assets/js/jquery.multiple.select.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>
