templates.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="icon" href="./favicon.png" type="image/png">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/pickmeup.css" rel="stylesheet">
    <title>Шаблоны писем — InCare Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app" style="background: #f1f1f1; opacity:0;">
      <div id="menu" class="pane"><a href="#" class="pane-header"><img src="assets/images/logo.png" alt="" class="logo"></a>
        <div class="pane-content">
          <ul class="menu">
            <li><a href="#">Чаты</a></li>
            <li><a href="#" class="contacts">Контакты</a></li>
            <li><a href="#" class="tickets">Заявки</a></li>
            <li><a href="#" class="archive">Архив</a></li>
            <li class="separator"></li>
            <li><a href="#" class="quickresponses">Быстрые ответы</a></li>
            <li><a href="#" class="gallery">Галерея</a></li>
            <li class="separator"></li>
            <li><a href="#" class="reports">Отчеты</a></li>
            <li class="separator"></li>
            <li><a href="#" class="pref active">Параметры</a></li>
            <li><a href="#" class="settings">Настройки</a></li>
          </ul><a href="#" id="company">
            <div class="company-logo"><img src="assets/images/logo.png"></div>
            <div class="company-name">SuperCorp</div>
            <div class="company-contact">+1 234 567 8900</div>
            <div class="company-contact">+1 332 213 99 75</div></a>
        </div>
      </div>
      <div id="page-mail-templates" class="page">
        <div class="page-navbar">
          <div id="operator" class="status-online"><a href="#" class="content operator">
              <div style="background-image: url(assets/images/avatar.png);" class="operator-avatar"></div>
              <div class="operator-name">Эрнест Илиясов</div>
              <div class="operator-status">Оператор</div></a>
            <div class="menu">
              <div class="menu-item">
                <button data-dropdown="#operator-menu" class="icon icon-menu-white no-caption dropdown">Меню</button>
                <ul id="operator-menu" class="dropdown-menu">
                  <li><a id="fn-set-online" href="#">На&nbsp;месте</a></li>
                  <li><a id="fn-set-away" href="#">Отошел</a></li>
                  <li><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroller ps-scroller">
          <div class="page-content">
            <div class="row">
              <div class="col-xs-3">
                <div class="panel-menu">
                  <h2>Список шаблонов</h2>
                  <ul>
                    <li class="active"><a href="#">Подтверждение регистрации</a></li>
                    <li><a href="#">Сброс пароля</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-9">
                <div class="panel">
                  <form>
                    <div class="panel-header">
                      <p>Подтверждение регистрации</p>
                    </div>
                    <div class="panel-content">
                      <div class="row">
                        <div class="col-xs-8">
                          <div class="form-group fg-last">
                            <label>Текст шаблона</label>
                            <textarea class="fg-tall fg-input">Здравствуйте, {Name}! Спасибо за регистрацию. Ваш пароль для входа: {Password}. Для подтверждения регистрации перейтите по ссылке: {RegistrationConfirmLink}</textarea>
                          </div>
                        </div>
                        <div class="col-xs-4">
                          <div class="page-mail-templates-placeholders">
                            <h3>Список плейсхолдеров</h3>
                            <ul>
                              <li>
                                <div class="pmtp-name">{Name}</div>
                                <div class="pmtp-value">Имя</div>
                              </li>
                              <li>
                                <div class="pmtp-name">{Login}</div>
                                <div class="pmtp-value">Логин</div>
                              </li>
                              <li>
                                <div class="pmtp-name">{Password}</div>
                                <div class="pmtp-value">Пароль</div>
                              </li>
                              <li>
                                <div class="pmtp-name">{RegistrationConfirmLink}</div>
                                <div class="pmtp-value">Ссылка для подтверждения регистрации</div>
                              </li>
                              <li>
                                <div class="pmtp-name">{PasswordResetLink}</div>
                                <div class="pmtp-value">Ссылка для сброса пароля</div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-footer">
                      <button>Сохранить</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="assets/js/jquery.min.js">						</script>
      <script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="assets/js/jquery.magnific-popup.js"></script>
      <script src="assets/js/jquery.pickmeup.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
  </body>
</html>

templates.jade
doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Шаблоны писем — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref.active(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-mail-templates
			.page-navbar
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
					.row
						.col-xs-3
							.panel-menu
								h2 Список шаблонов
								ul
									li.active: a(href="#") Подтверждение регистрации
									li: a(href="#") Сброс пароля
						
						.col-xs-9
							.panel: form
								.panel-header
									p Подтверждение регистрации
								.panel-content
									.row
										.col-xs-8: .form-group.fg-last
											label Текст шаблона
											textarea.fg-tall.fg-input Здравствуйте, {Name}! Спасибо за регистрацию. Ваш пароль для входа: {Password}. Для подтверждения регистрации перейтите по ссылке: {RegistrationConfirmLink}
										
										.col-xs-4
											.page-mail-templates-placeholders
												h3 Список плейсхолдеров
												ul
													li
														.pmtp-name {Name}
														.pmtp-value Имя
													li
														.pmtp-name {Login}
														.pmtp-value Логин
													li
														.pmtp-name {Password}
														.pmtp-value Пароль
													li
														.pmtp-name {RegistrationConfirmLink}
														.pmtp-value Ссылка для подтверждения регистрации
													li
														.pmtp-name {PasswordResetLink}
														.pmtp-value Ссылка для сброса пароля
												
								.panel-footer
									button Сохранить
		
		
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/main.js")
		
